/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@media print
  {
 .social-box{display: none;}
 .tag-content{position: fixed;top: 0;}
 .main-cont{width: 70%; float: left;}
.print{display: block !important; padding-bottom: 10px;}
.me-img{width: 35%; float: left; }
	.me-img img{float: right;}
.tagline {position: fixed; width: 65%; float: right; text-align: center;}

 .sidebar{width: 30%;float: right;}
 .facebook{background: #3B5998;}
.github{background: #4183C4;}
.gmail{background: #DD4B39;}
.googleplus{background: #D14836;}
.lastfm{background: #D51007;}
.linkedin{background: #007FB1;}
.skype{background: #00AFF0;}
.steam{background: #000000;}
.twitter{background: #00ACED;}
.twitch{background: #6441A5;}
.xbox{background: #107C10; -webkit-print-color-adjust: exact; }
.css{background: #0092BF; -webkit-print-color-adjust: exact; }
.html{background: #F06529; -webkit-print-color-adjust: exact; }
.php{background: #6181B6; -webkit-print-color-adjust: exact; }
.mysql{background: #008DDE; -webkit-print-color-adjust: exact; }
.jquery{background: #0867AB; -webkit-print-color-adjust: exact; }
.bootstrap{background: #0088CC; -webkit-print-color-adjust: exact; }
.apple{background: #B9BFC1; -webkit-print-color-adjust: exact; }
.android{background: #A4C639; -webkit-print-color-adjust: exact; }
.laravel{background: #FB502B; -webkit-print-color-adjust: exact; }
.wp{background: #21759B; -webkit-print-color-adjust: exact; }
.bitbucket{background: #205081; -webkit-print-color-adjust: exact; }
.skills li{width: 33%;}
h2{font-size: 20px !important;}
  }


body{font-family: 'Open Sans', sans-serif; font-size: 12px;}

h2{text-transform: uppercase; background: #000; color: #fff; font-weight: 700; line-height: 18px;}
.print{display: none}

.me-img img{float: right;}

.tagline{position: relative;}
.tag-content{position: absolute; top: 120px;}
.tagline p{padding: 0; margin: 0; font-family: 'ChunkFiveRegular'; font-weight: 700; color:#ccc;
	line-height: 50px;}
	.designer{font-size: 50px; letter-spacing: -2px;}
	.dev{font-size: 64px; letter-spacing: -2px;}
	.gamer{font-size: 60px; letter-spacing: -2px;}

.social-box{padding-right: 0;
padding-left: 16px;}
.social{margin: 108px 0 0 0; padding: 0;}
	.social li{ list-style: none;width: 25%; float: left;}
		.social li img{width: 100%;}

.clients{margin-top: -16px;}
.clients {text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
	}
	.clients div{ width: 10%; vertical-align: top;
    display: inline-block;*display: inline;zoom: 1;line-height:80px;
    text-align:center;position: relative;margin-bottom: -28px;
		}
		.clients div img{width: 100%;  vertical-align: middle;}

	/*.work div{ width: 22%; height: 180px; vertical-align: top;
    display: inline-block;*display: inline;zoom: 1; overflow: hidden;}*/
    .work .item{ width: 25%; height: 98px; float: left; overflow: hidden; border: 4px solid #fff; position: relative;}
		.work div img{width: 100%;}
		.work-content{display:none; position: absolute; width: 100%; height: 100%;background: rgba(0,0,0,.8); top: 0; color: #333; padding: 10px;}
			.work-content h2{background: #fff; font-size: 14px; margin: 0; padding: 0;color: #333; width: auto;
display: inline-block; padding-right: 1px;}
			.work-content p{background: #fff;width: auto; display: inline-block;padding-right: 1px;}
.skills {padding: 15px 15px 0 15px;}
	.skills li{list-style: disc; display: inline;}

.list li:after{content:'\00B7';padding-left:5px; padding-right: 2px;}
	.list li:last-child:after{content: '';}

.stretch {width: 100%; display: inline-block; font-size: 0; line-height: 0;}


.facebook{background: #3B5998;}
.github{background: #4183C4;}
.gmail{background: #DD4B39;}
.googleplus{background: #D14836;}
.lastfm{background: #D51007;}
.linkedin{background: #007FB1;}
.skype{background: #00AFF0;}
.steam{background: #000000;}
.twitter{background: #00ACED;}
.twitch{background: #6441A5;}
.xbox{background: #107C10;}
.css{background: #0092BF;}
.html{background: #F06529;}
.php{background: #6181B6;}
.mysql{background: #008DDE;}
.jquery{background: #0867AB;}
.bootstrap{background: #0088CC;}
.apple{background: #B9BFC1;}
.android{background: #A4C639;}
.laravel{background: #FB502B;}
.wp{background: #21759B;}
.bitbucket{background: #205081;}

.icons{margin:0 0 0 16px; padding: 0;}
.icons li{ width: 25%; list-style: none; float: left;}
	.icons li img{width: 100%;}

.work-place{padding-bottom: 5px;}
.work-place img{width: 31%; float: left; padding-right:5px;}
.work-place p{font-size: 12px; padding-top: 5px;}

.sidebar h2{margin-right: -15px;}


@media all and (min-width: 481px) and (max-width: 992px) {
	h2{font-size: 24px;}
	.gamer {font-size: 48px;}
	.dev{font-size: 50px;}
	.designer{font-size: 40px;}
	.social{margin-top: 78px;}
	.social li{width: 33%;}
	.work-place a{display: none;}
	.work .item{width: 33%; height: 104px;}
	.icons li{width: 33%;}
	.clients{margin-top: -10px;}
	.clients div{width: 15%;}
	.sidebar h2{margin-right: -12px;}
}

@media all and (max-width: 480px) {
	h2{font-size: 24px;}
	.tag-content{top: 10px;}
	.gamer {font-size: 35px;}
	.dev{font-size: 37px;}
	.designer{font-size: 30px;}
	.tagline p{line-height:30px; text-align: center; }
	.social-box{padding-right: 16px;}
	.clients{margin-top: -10px;}
	.clients div{width: 30%;}
	.work .item{width: 50%; height: 78px;}
	.work-content{display: none !important;}
	.me-img img{float: none; display: block; margin: 0 auto;}
}